// Utilities Colors
//Colors
.tc-primary     { color: $primary !important; }
.tc-link        { color: $link !important; }
.tc-black       { color: $black !important; }
.tc-grey        { color: $grey !important; }
.tc-white       { color: $white !important; }
.tc-light       { color: $light !important; }

//Background Colors
.bg-primary    { background-color: $primary !important; }
.bg-black      { background-color: $black !important; }
.bg-grey       { background-color: $grey !important; }
.bg-white      { background-color: $white !important; }
.bg-light      { background-color: $light !important; }